/* CSS-Anpassungen bitte hier */

/*Schriftart*/

@font-face {
    font-family: pageFont;
    src: url("../fonts/Quicksand-Regular.otf");
}
body {
    margin: 0 auto;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: pageFont;
}
/*Style für rows*/

.row {
    color: #494949;
    background-color: #fff;
    text-align: center;
    margin-top: -10px;
}
/*Style für Titel*/

.title {
    margin: auto;
    text-align: center;
    width: 230px;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
}
.title:hover {
    color: #c0ce00;
}
.title a {
    color: inherit;
    text-decoration: none;
}
/*Style für Navigation*/

.container > .navbar {
    background-image: url("../img/dummy.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    height: 800px;
}
.inner-container {
    margin: auto;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
}
.navbar-nav {
    margin: auto;
    text-align: center;
    padding: 0;
    position: relative;
    top: 20px;
}
.navbar-nav li {
    display: inline;
    color: #494949;
    padding: 10px;
}
.navbar-nav li a {
    color: inherit;
    text-decoration: none;
}
.navbar-nav li:hover {
    background-color: rgba(192, 206, 0, 0.7);
    color: #fff;
}
/*Style für Inhalt*/

.content {
    margin: auto;
}
.part {
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-size: 10pt;
    max-width: 260px;
    padding-left: 20px;
    padding-right: 20px;
}
/*Style für Footer*/

.footer-wrapper {
    padding-top: 50px;
    padding-bottom: 25px;
}

.social-buttons {
    margin-bottom: 30px;
}
.social-buttons a {
    font-size: 26pt;
    margin: 30px;
    text-decoration: none;
}

.icon-facebook:before, .icon-twitter:before, .icon-google:before {
    color: #494949;
}

.icon-facebook:hover:before {
    color: #3b5998;
}

.icon-twitter:hover:before {
    color: #55acee;
}

.icon-google:hover:before {
    color: #dd4b39;
}

/*responsive design*/

@media (max-width: 600px) {
    .navbar-nav li {
        display: block;
    }
    .inner-container {
        height: 270px;
        position: relative;
    }
    .container > .navbar {
        height: 270px;
        background-image: none !important;
    }
    
    body {
        background-position: top;
    }
}
@media (max-width: 1240px) {
    .container > .navbar {
        background-image: url("../img/dummy_small.png");
    }
    .part {
        max-width: 400px;
    }
}
@media (max-width: 860px) {
    .part {
        margin: auto;
        display: block;
    }
}